<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.maximkirko.training_2017_android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.VKSimpleChatApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Splash">
        <activity android:name=".activity.splash.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.login.LoginActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.core.FriendsListActivity"
            android:label="FriendsListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.core.UserDetailsActivity"
            android:label="UserDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.vk.sdk.VKServiceActivity"
            android:label="ServiceActivity"
            android:theme="@style/VK.Transparent" />

        <provider
            android:name=".contentprovider.FriendsContentProvider"
            android:authorities="com.github.maximkirko.providers.friends" />

        <service android:name=".service.DownloadService" />

        <receiver android:name=".broadcastreceiver.DeviceLoadingBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>